doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='description' content='Личный блог Типотека')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel="shortcut icon" href="/img/icons/logo-image-only.svg" type="image/x-icon")
    link(rel="preload" href="/fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/SFProDisplay-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.min.css")
  body
    .wrapper-color
      include ../partials/header.pug
      main
        h1.visually-hidden Ошибка 500
        section.error.error--500
          h2.error__title.title.title--big Что-то пошло не так
          p.error__text.text.text--big
            | Причин может быть много: сервер не выдержал нагрузку или в коде ошибка.
            | Попробуйте повторить попытку позже.
          a.error__link.text.text--big(href='/') Вернуться на главную
      include ../partials/footer.pug
