mixin categories(categories)

  section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          if category.articlesCount > 0
            li.themes__item
              a(
                class=`themes__item-link ${activeCategory && activeCategory.id === category.id ? `themes__item-link--active` : ``}`
                href=`/articles/category/${category.id}`
              )= `${category.title} `
                sup= category.articlesCount
