mixin categories(categoriesList)

  section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categoriesList
          li.themes__item
            a.themes__item-link(href='/categories')= `${category} `
              sup= `${Math.floor(Math.random() * 100)}`
