head
  base(href='/')
  meta(charset='UTF-8')
  meta(name='description' content='Личный блог Типотека')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Типотека
  link(rel="shortcut icon" href="/img/icons/logo-image-only.svg" type="image/x-icon")
  link(rel="preload" href="/fonts/Inter-Regular.woff2" as="font" crossorigin)
  link(rel="preload" href="/fonts/Inter-Medium.woff2" as="font" crossorigin)
  link(rel="preload" href="/fonts/SFProDisplay-Regular.woff2" as="font" crossorigin)
  link(rel="stylesheet" href="css/style.min.css")
