extends layout.pug
include partials/categories.pug
include partials/articles-list.pug

block content

  main.articles-category
    h1= activeCategory.title
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      if categories.length > 0
        +categories(categories, activeCategory)
    if !articles || articles.length === 0
      .main-page__empty-wrapper
          p.main-page__empty-text
            | Здесь пока пусто!
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          +articles-list(article)

