doctype html
include partials/head.pug
body
  div.wrapper
    include partials/header.pug
    block content
    include partials/footer.pug
  block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(src='/js/main.js')




